---
---

/* Create three equal columns that floats next to each other */
.index_column {
    float: left;
    width: 33.33%;
    padding: 10px;
}

.index_column_2x {
    float: left;
    width: 66.66%;
    padding: 10px;
}

/* Clear floats after the columns */
.index_row:after {
    content: "";
    display: table;
    clear: both;
}
